ETCD_OPTS="-name etcdmaster -initial-cluster etcdmaster=http://192.168.2.15:2380 -initial-cluster-token etcd01 -initial-cluster-state new -initial-advertise-peer-urls http://192.168.2.15:2380 -advertise-client-urls http://192.168.2.15:2379 -listen-peer-urls http://0.0.0.0:2380 -listen-client-urls http://0.0.0.0:2379 -data-dir /var/etcd -advertise-client-urls http://192.168.2.15:2379"
